{:paths ["src"]
 :deps  {uncomplicate/fluokitten        {:mvn/version "0.9.1"}
         com.github.haifengl/smile-core {:mvn/version "2.6.0"}
         com.github.haifengl/smile-math {:mvn/version "2.6.0"}
         ribelo/halle                   {:git/url "https://github.com/ribelo/halle"
                                         :sha     "46c7577e5dfbe84cac00f93ce5d605a38a490b98"}
         ribelo/kemnath                 {:git/url "https://github.com/ribelo/kemnath"
                                         :sha     "7fae2514a43c3de07a5a173319a9ee7065989dcf"}
         ribelo/stade                   {:git/url "https://github.com/ribelo/stade"
                                         :sha     "5b01e968203d6d12e710ed5aef266f36e0588089"}}}
